<%- include('partials/header') %>

<body class="index">
  <nav class="navbar navbar-light" style="background-color: white;">
    <a class="navbar-brand" href="#">
      <img src="images/Let's to do.png" width="75" height="75" alt="" loading="lazy">
    </a>
    <a href="http://localhost:3000/login" class="btn btn-primary">Log In</a>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>To Do</h1>
        <p>Lets you work more collaboratively and get more done.
          <br>To DO’s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible,
          and rewarding way.</p>
          <form class="signup" action="" method="post">
            <input type="text" name="name" placeholder="name">
            <input type="email" name="email" placeholder="e-mail">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Sign up</button>
          </form>
      </div>
      <div class="col">
        <img class="image" src="images/undraw_project_completed_w0oq.svg">
      </div>
    </div>
  </div>