<%- include('partials/header') %>

<div class="loginBack">
    <div>
        <div class="row">
            <div class="col-sm">
                <img class="loginImage1" src="images/undraw_project_completed_w0oq.svg">
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="images/undraw_profile_pic_ic5t.svg" width="100" height="100" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Log in To Do</h5>
                        <form class="login" action="" method="post">
                            <input type="email" name="email" placeholder="e-mail">
                            <input type="password" name="password" placeholder="password">
                            <!-- <button type="login">Log in</button> -->
                            <a href="http://localhost:3000/user" class="btn btn-primary">Log In</a>
                            <hr>
                            <a href="http://localhost:3000/">Sign up for an account</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <img class="loginImage2" src="images/undraw_project_completed_w0oq.svg">
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>